<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<div class="box">
    <form action="/login" method="POST">
        <br>
        <fieldset class="scheduler-border">
            <br>
            <legend><b>Login</b></legend>
            <br>
            <div class="inputBox">
                <input type="email" name="email" id="email" class="inputUser" required>
                <label for="email" class="labelInput">email</label>
            </div>
            <br><br>
            <div class="inputBox">
                <input type="password" name="password" id="password" class="inputUser" required>
                <label for="senha" class="labelInput">senha</label>
            </div>
            <br><br>
            <button type="submit" value="Entrar" name="submit" id="submit">Entrar</button>
        </fieldset>
    </form>
</div>

<br><br><br><br><br><br><br><br><br><br><br>

</html>