<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
</head>

<body>
    
    <div class="box">
        <form action="/register" method="POST">
            <fieldset  class="scheduler-border">
                <legend><b>Cadastro Marketlist</b></legend>
                <br>
                <div class="inputBox">
                    <input type="text" name="name" id="name" class="inputUser" required>
                    <label for="name" class="labelInput">Nome completo</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="email" name="email" id="email" class="inputUser" required>
                    <label for="email" class="labelInput">email</label>
                </div>
                <br><br>
                <div class="inputBox">
                    <input type="password" name="password" id="password" class="inputUser" required>
                    <label for="senha" class="labelInput">senha</label>
                </div> 
                <br><br>
                <div class="inputBox">
                    <input type="password" name="confirmpassword" class="inputUser" required>
                    <label for="confirmpassword" class="labelInput">Confirmação de senha</label>
                </div>
                <br><br>
                <input type="submit" name="submit" id="submit">
            </fieldset>
        </form>
    </div>

    

    <div id="clear"></div>

    <div></div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   

</body>



</html>